
*.ipynb

\.idea/dictionaries/sandy\.xml

\.idea/misc\.xml

\.idea/projet-python-exercice1\.iml

\.idea/workspace\.xml

data/fiche2\.txt

data/fiche de test 1\.txt

data/fiche de test 2\.txt

comprendre/
