

QWidget {color: #ccdae1; background-color: #aeaeae;}   /* Pour tous les widgets */
QMenuBar {border-bottom : 1px solid #0f4405; border-bottom-style: inset;}
QMenuBar:item {
    text-align: left;
    background: #aeaeae;
    padding-left: 35px;
    margin: 10px;
}

QTextEdit, QListView {background-color: #cdcdcd;}
#QPushButton {
    color: #CFCFCF; outline: 0px;
    border: 1px solid #7597a9;
    border-top: 1px solid #5e718f;
    border-left: 1px solid #3f5c6b;
    border-style: outset;
}
QRadioButton:checked {border-style: outset; outline: 0px; }
QRadioButton:indicator:checked {background-color: yellow; outline: 0px;}
QListView:item:selected {background-color : green; outline: 0px;}