

QWidget {color: #c9cacc; background-color: #2e3035;}   /* Pour tous les widgets */
QStatusBar {background-color: #262932;}
QMenuBar {border-bottom : 1px solid #0f4405; border-bottom-style: inset;}
QMenuBar:item {
    text-align: left;
    background: #2d2f35;
    padding-left: 35px;
    margin: 10px;
}

QTextEdit, QListView {background-color: #343741;}
QPushButton {
    min-height: 20 px;
    color: #CFCFCF; outline: 0 px;
    border: 1px solid #39542c;
    border-top: 1px solid #3d592e;
    border-left: 1px solid #51763d;
    border-style: outset;
}
VLine:Shadow {background-color: green;}
QRadioButton:checked {background-color: #1b2b33;border-style: outset; outline: 0px; }
QRadioButton:unchecked {background-color: #1b2b33;border-style: outset;}
QRadioButton:pressed {background-color: #1b2b33; outline: 0px; border: 0;}
QRadioButton:focus{background-color: #1b2b33;outline: 0px; border: 0;}
QListView:item:selected {background-color: #5f8b48;}
QMessageBox.information {background-color: green;}