

QWidget {color: #2e3035; background-color: #aeaeae;}   /* Pour tous les widgets */
QMenuBar {border-bottom : 1px solid #0f4405; border-bottom-style: inset;}
QMenuBar:item {
    text-align: left;
    background: #aeaeae;
    padding-left: 35px;
    margin: 10px;
}

QTextEdit, QListView {background-color: #cdcdcd;}
QPushButton {
    min-height: 20 px;
    color: #2e3035; outline: 0px;
    border: 1px solid #656970;
    border-top: 1px solid #898f98;
    border-left: 1px solid #9da1a7;
    border-style: outset;
}

QRadioButton:checked {background-color: #aeaeae;border-style: outset; outline: 0px; }
QRadioButton:unchecked {background-color: #aeaeae;border-style: outset;}
QRadioButton:pressed {background-color: #aeaeae; outline: 0px; border: 0;}
QRadioButton:focus{background-color: #aeaeae;outline: 0px; border: 0;}
QListView:item:selected {background-color : #54688a;}